body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "header" "nav" "main" "footer";
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* HEADER */
head {
  grid-area: header;
  margin-left: 1em;
}
h1 {
  font-size: 0.8em;
  color: grey;
  margin-left: 1em;
}
nav {
  grid-area: nav;
}
nav ul {
  list-style-type: none;
  display: grid;
  margin: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(100px, 20%));
  font-weight: bolder;
}
nav li {
  padding: 0.5em;
  text-align: center;
}
nav li:first-child {
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 50, 255),
    rgb(0, 150, 255)
  );
  border-radius: 0.5em;
}

/* MAIN */
main {
  grid-area: main;
  background-image: linear-gradient(
    to bottom left,
    rgb(0, 50, 255),
    rgb(0, 150, 255)
  );
}

/* FOOTER */
footer {
  grid-area: footer;
  text-align: center;
  padding: 1em;
  font-weight: bold;
}
